<%= simple_form_for(@post) do |f| %>

  <div class="form-inputs">
    <%= f.input :title,label:false,placeholder:'Title' %>
    <%= f.input :image,label:false %>
    <%= f.input :body ,label:false,placeholder:'Body',input_html:{rows:5}%>
    <%= f.input :link ,label:false,placeholder:'Link'%>
    <%= f.association :user,as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,:class=>"btn btn-primary btn-block" %>
  </div>
<% end %>
